@import url('./reset.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #1f1913;
  background: #ced6d1;
}

a, a:visited {
  color: #314142;
}

.emphasis {
  font-weight: 500;
}

.wrapper {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
}

header {
  padding: 20px;
  margin: 0px 30px 0 30px;
}

#skater {
  display: inline-block;
  transform: translateY(5px);
  margin-right: 10px;
  height: 60px;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  padding-right: 20px;
  line-height: 140%;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
}

.header-2 {
  margin-top: 16px;
}

.header-2 p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 140%;
}

select {
  margin: 0 30px;
  min-width: 350px;
  background: #FCFAF4;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

.yAxis-label text{
  font-size: 16px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.viz {
  margin-bottom: 20px;
}

.viz-1 circle {
  fill: #ECE7D8;
  stroke: #314142;
}
.viz-1 circle.selected {
  fill: #EEBF48;
}

.altitudes {
  opacity: 0.92;
}

.mountain {
  fill: #314142;
}

.snow {
  fill: #F8F4E4;
}

.xAxis path, .yAxis path, .tick line {
  stroke: #1f1913;
}
.tick text {
  fill: #1f1913;
}

.flag line {
  stroke: #1f1913;
}

.flag .flying-flag {
  fill: #EEBF48;
  stroke: #1f1913;
}

.notes {
  font-size: 14px;
  line-height: 140%;
}

text {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.stat-label text{
  font-size: 14px;
}

@media only screen and (max-width: 670px) {
  .xAxis .tick:nth-child(odd) {
    display: none;
  }
  select {
    min-width: 300px;
  }
  .wrapper {
    width: 96%;
    margin-left: 2%;
    margin-bottom: 50px;
  }
}
